body{
    background: linear-gradient(#b2dcdd, #bee7e7, #c4ebec);
}
h1{
    color:cadetblue;
    text-align: center;
}
#myMap{
    margin:2% 5% ;
    height: 450px;
    width: 1200px; 
    box-shadow: 10px 10px 20px 3px lightgray;
}
input{
    font-size: +1em;
}
input[type=text]{
    margin: 1% 0% 1% 5%;
    padding: 10px;    
}
input[type=button]{
    margin: 1% 0%;
    padding: 10px;
    color: white;
    font-weight: 400;
    background-color: #1B70F9;
}
input[type=button]:focus{
    margin: 1% 0%;
    padding: 10px;
    color: white;
    font-weight: 100;
    background-color: #6BA3FF;
}
